*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    font-family: "Poppins";
}

.main-div{
    min-height: 100vh;
    border: 1px solid black;
    position: relative;
    width: 100%;
    background-color: rgb(41, 10, 70);
}

header{
    height: 130px;
    position: relative;
    width: 100%;
    background-color: rgb(32, 7, 56);
    border: 1px solid rgb(41, 10, 70);
}

header h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 40px;
    color: white;
    font-family: "Archivo Black";
    font-weight: 100;
}

header button{
    position: absolute;
    right: 120px;
    bottom: 40px;
    font-size: 1.5rem;
    padding: 8px 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(224, 165, 38);
    transition: all 0.1s linear 0.01s;
}

.main-div main{
    width: 100%;
    min-height: 86%;

}

.main-div main h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 45px;
}

#login-container, #signup-container{
    color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    justify-content: space-evenly;
    min-height: 350px;
    margin-top: 30px;
}

#signup-container {
    color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    justify-content: space-evenly;
    min-height: 400px;
    margin-top: 30px;
}

#login-container label, #signup-container label {
    font-size: 1.5rem;
}

#login-container input, #signup-container input {
    font-size: 1.5rem;
    color: black;
}

#login-container button, #signup-container button{
    font-size: 1.3rem;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: rgb(224, 165, 38);
    transition: all 0.1s linear 0.01s;

}

button:hover{
    transform: scale(1.05);
    font-weight: 500;
}


#name {
    color: white;
    position: absolute;
    left: 25px;
    bottom: 40px;
    font-size: 1.7rem;
}

/* div{
    display:flex;
    align-items:center;
    justify-content: center;
    width:50%;
} */