/* *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
} */

header{
    border: 1px solid black;
}


div{
    display:flex;
    align-items:center;
    justify-content: center;
    width:50%;
}